@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://media.giphy.com/media/9Q2peBQDRMdxVlqIaN/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

  i {
    color: #edf0f1;
    font-size: 2.5rem;
    cursor: pointer;
  }
  li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style-type: none;
  }
  .nav-links li {
    display: inline-block;
    padding: 0 20px;
  }
  .nav-links li a {
    transition: all 0.3 ease 0s;
  }
  .nav-links li a:hover {
    color: #0088a9;
  }
  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
  }
  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
}
